body {
  padding-top: 10px;
  background-color: #ffffff;
  padding-left: 0px;
}

/* header {
  background-color: white;
} */

h1,
h2,
p,
a {
  font-family: "PT Mono", monospace;
  font-size: 16px;
  line-height: 1.7;
}

nav {
  padding-top: 20px;
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  padding-top: 10px;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-bottom: 10px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding-right: 20px;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px dashed rgb(0, 0, 0);
  text-align: center;
}

.menu {
  font-size: 14px;
  font-family: "PT Mono", monospace;
  color: #000000;
  padding-right: 40px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 4px;
}

.menu:hover {
  color: rgb(0, 0, 0);
}

.name {
  font-family: "PT Mono", monospace;
  font-size: 36px;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  padding-left: 40px;
  padding-top: 60px;
}

.gde {
  font-family: "Flow Rounded", cursive;
  font-size: 16px;
  padding-left: 40px;
  color: rgb(0, 0, 0);
}

.about {
  width: 68%;
  padding-left: 40px;
  color: rgb(0, 0, 0);
  padding-bottom: 30px;
}

.caption {
  width: 68%;
  padding-left: 40px;
  color: rgb(0, 0, 0);
  padding-bottom: 30px;
}

#footertext {
  font-size: 14px;
  color: rgb(0, 0, 0);
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2px;
  font-weight: 700;
}

div.gallery {
  /* border: 1px dashed rgb(0, 0, 0); */
  border-radius: 8px;
}

div.gallery:hover {
  border: 6px dashed #ffffff;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

div.desc {
  padding: 14px;
  text-align: left;
  font-family: "PT Mono", monospace;
  font-size: 12px;
  color: #000000;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 800px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
